header {
    display: block;
}

nav {
    display: inline-grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    width: 100%;
}

nav .util {
    background-color: azure;
    border-radius: 1.2rem;
    outline: .25rem solid mediumslateblue;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 16rem;
    height: fit-content;
}

nav .util p {
    padding: 2rem;
}

nav .util h2 {
    border-radius: 1.2rem 1.2rem 0 0;
    padding: 4rem 1rem;
}

#qr-code-gen img {
    max-width: 100%;
    border-radius: 1.2rem 1.2rem 0 0;
}

#counter h2 {
    background-color: deeppink;
}

#random-gen h2 {
    background-color: yellow;
}

#binomial_distribution h2 {
    background-color: midnightblue;
    color: white;
}

#hex-dec-bin h2 {
    background-color: darkolivegreen;
}

#color-picker h2 {
    background-color: burlywood;
}

#device-info h2 {
    background-color: aqua;
}

#random-gen, #hex-dec-bin, #color-picker {
    pointer-events: none;
    background-color: gray;
}