header, footer {
    background-color: midnightblue;
    color: white;
}

#back {
    outline-color: white;
    color: white;
}

form {
    background-color: azure;
    padding: 2rem;
    border-radius: 1.2rem;
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    form > *{
        grid-column: span 2;
    }
}

form p {
    margin-block: 1em;
    grid-column: span 2;
}

#histogram, #ans {
    background-color: azure;
    padding: 12px;
    border-radius: 1.2rem;
}

#histogram {
    height: 100%;
}

#ans {
    background-color: mediumslateblue;
    color: white;
    font-size: 1.2rem;
    outline: .1rem solid black;
}

.k-input {
    background-color: rgba(123, 104, 238, .5);
    padding: 2rem;
    padding-top: 5rem;
    border-radius: 1.2rem;
    display: flex;
    gap: 1rem;
    align-items: baseline;
    position: relative;
}

.k-input input {
    width: 100%;
}

.k-input p {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    color: mediumslateblue;
}

.k-input button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 3rem;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: mediumslateblue;
}

input:invalid {
    background-color: rgba(255, 69, 0, 0.25);
    outline: .25rem dotted red;
}

#warning {
    background-color: rgba(255, 69, 0, 0.25);
    outline: .25rem dotted red;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
}